@import "./variables.scss";

//my scss
.top_header {
  margin: 3rem 0;
  .heading {
    font-size: 2rem;
    color: $themecolor;
  }
}
.chart_section,
.tabs_section {
  th {
    color: $themeHeadingcolor;
    font-size: 0.7rem;
    text-transform: uppercase;
  }
  font-size: 0.8rem;
  @media all and (min-width: $md-min) {
    font-size: 0.9rem;
  }
  .table_header {
    &.test {
      background: $themecolorCoral;
    }
    &.steps {
      background: $themecolorPink;
    }
    &.issues {
      background: $themecolorPurple;
    }
    &.workers {
      background: $themecolorGreen;
    }
  }
}

.chart_section {
  margin-bottom: 6rem;
  .table_area {
    margin-right: 2rem;
    &.last_of-type {
      margin: 0;
    }
    .table_header {
      border-top-right-radius: $themeBorder_radius;
      border-top-left-radius: $themeBorder_radius;
      padding: 0.75rem 0.5rem;
      h6 {
        margin-bottom: 0;
        font-size: 0.9rem;
      }
    }
  }
}
.tabs_section {
  margin-bottom: 6rem;
  .nav-tabs {
    padding-bottom: 3px;
    margin-bottom: 1rem;
    .nav-item {
      margin-right: 2px;
    }
  }
  .nav-link {
    color: initial;
    font-weight: 600;
    padding: 0.75rem 0.5rem;
    padding-right: 3rem;
    border: none;
    border-bottom: 3px solid transparent;
    margin-bottom: -3px;
    transition: all 0.4s ease-in;
    font-size: 0.85rem;

    &.active {
      color: initial;
      border-bottom: 3px solid $themecolorBlue;
    }
  }
}

footer {
  padding: 2rem 0;
  .copy {
    font-size: 0.8rem;
  }
}
