$sm-max: 767.9px;
$md-min: 768px;
$md-max: 991.9px;
$lg-min: 992px;
$lg-max: 1199.9px;
$xl-min: 1200px;
$xl-max: 1309px;

/* colors */
$themeBorderColor: #ebebeb;
$themecolor: #404159;
$themeHeadingcolor: rgba(43, 44, 59, 0.9); // #2b2c3b;

// $themecolorCoral: #f99a9c;
// $themecolorPink: #fdbccf; //#fdbccf; //
// $themecolorPurple: #d3c0f9; //#eabcfd; //
// $themecolorGreen: #d7e7a9; // #b5ddd1; // #cffdbc; //;

$themecolorCoral: #fdc4b5;
$themecolorPink: #fdbccf;
$themecolorPurple: #eabcfd;
$themecolorGreen: #cffdbc;
$themecolorBlue: #bcf0fd;

// $themecolorCoral: #f7d3bb;
// $themecolorCoral: #bbc1f7;

// $themecolorPink: #f7bbdf;
// $themecolorPurple: #bbc1f7;
// $themecolorPurple: #bbdff7;

// $themecolorGreen: #bbf7d3;
// $themecolorBlue: #bbdff7;

/* fonts */
//$themefont: "Roboto", "Helvetica", sans-serif;

$themeBorder_radius: 5px;
$themeBox_shadow: 0 7px 34px 0 rgba(0, 0, 0, 0.07),
  0 11px 34px 0 rgba(0, 0, 0, 0.04);
